streamlit==1.3.1
tornado
tqdm
azure-storage-blob
wget
sklearn
matplotlib
torch
torchvision
av
cython
opencv-python
yacs
tensorboardX
mxnet
gluoncv
pytz
datetime
schedule
plotly==5.1.0
kaleido==0.1.0
ibm-cos-sdk
